/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* CSS RESET END */

body {
  background: #efe9e7;
  font-family: '微軟正黑體', sans-serif;
}

header {
  position: relative;
}

nav {
  width: 100%;
  height: 56px;
  background: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
}

.container {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav h1 a {
	display: block;
	background-image: url(../assets/logo_l.png);
  background-image: url(../assets/logo_l.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: center;
	width: 240px;
	height: 48px;
	text-indent: 101%;
	overflow: hidden;
  white-space: nowrap;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

nav li + li {
  margin-left: 30px;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

.banner {
  width: 100%;
  height: 420px;
  background: #190401 url(../assets/header_desktop.png) no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .text {
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,.35);
  text-align: center;
}

.banner h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.banner p {
  line-height: 1.4;
}