html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-container {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto;
}

@media (max-width: 991px) {
  .l-container {
    padding: 0 11px;
  }
}

.l-flex-sbc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.h-hide {
  display: none;
}

.header {
  position: relative;
}

.header .nav {
  width: 100%;
  height: 56px;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
}

.header .nav__logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 575px) {
  .header .nav__logo {
    font-size: 18px;
  }
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .header .nav__menu {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
    margin-top: 1px;
    position: absolute;
    z-index: 10;
    top: 56px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  .header .nav__menu.menu-show {
    max-height: 200px;
  }
}

.header .nav__menu-item + .header .nav__menu-item {
  margin-left: 10px;
}

@media (max-width: 575px) {
  .header .nav__menu-item + .header .nav__menu-item {
    margin-left: 0;
  }
}

.header .nav__menu-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
}

@media (max-width: 575px) {
  .header .nav__menu-link {
    padding: 8px 0;
    display: block;
    letter-spacing: 5px;
  }
}

.header .nav__menu-link:hover {
  background: #efe9e7;
  color: #3d1101;
}

.header .nav__mobile-menu-bars {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 575px) {
  .header .nav__mobile-menu-bars {
    display: block;
    margin-right: 11px;
  }
}

.header .banner {
  width: 100%;
  height: 420px;
  background: #190401 url(../assets/header_desktop.png) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .header .banner {
    background: #190401 url(../assets/header_mobile.png) no-repeat center center;
  }
}

.header .banner__text-area {
  padding: 20px 22px 26px;
  color: #fff;
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.header .banner__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.header .banner__subtitle, .header .banner__subtitle2 {
  line-height: 1.4;
}
/*# sourceMappingURL=all.css.map */