@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");

body {
  background: $bg-color;
  font-family: "Microsoft JhengHei", sans-serif;
  color: $text-primary;
  font-weight: $font-medium;
}

.header {
  position: relative;
}

.nav {
  width: 100%;
  height: 56px;
  background: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;

  &__content {
    height: 100%;
  }

  &__logo {
    text-decoration: none;
    color: $text-white;
    font-family: "Noto Sans TC", sans-serif;
    font-size: $text-xl;
    font-weight: $font-bold;
    @include mobile-portrait() {
      font-size: $text-md;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile-portrait() {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s;
      margin-top: 1px;
      position: absolute;
      z-index: 10;
      top: 56px;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.75);
      &.menu-show {
        max-height: 250px;
      }
    }
  }

  &__menu-item + &__menu-item {
    margin-left: 10px;
    @include mobile-portrait() {
      margin-left: 0;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $text-white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 100px;
    transition: background 0.5s;
    @include mobile-portrait() {
      padding: 6px 0;
      display: block;
      letter-spacing: 5px;
      @include title-md;
    }
  }

  &__menu-link:hover {
    background: $bg-color;
    color: $text-primary;
  }

  &__mobile-menu-bars {
    display: none;
    font-size: $text-xl;
    color: $text-white;
    cursor: pointer;
    @include mobile-portrait() {
      display: block;
      margin-right: 11px;
    }
  }
}

.banner {
  width: 100%;
  height: 420px;
  background: #190401 url(../assets/header_desktop.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile-portrait() {
    background: #190401 url(../assets/header_mobile.png) no-repeat center center;
  }

  &__text-area {
    padding: 20px 22px 26px;
    color: $text-white;
    background: rgba(0,0,0,.35);
    text-align: center;
  }

  &__title {
    font-size: $text-xxl;
    margin-bottom: 16px;
  }

  &__subtitle, &__subtitle2 {
    line-height: 1.4;
  }
}

.footer {
  padding: 50px 0;

  .l-flex-fsfs {
    @include mobile-landscape() {
      display: block;
    }
  }
}

.about {
  max-width: 300px;
  margin-right: 20px;
  @include tablet() {
    max-width: 235px;
  }
  @include mobile-landscape() {
    margin-right: 0;
    max-width: 100%;
  }

  &__title {
    @include title-lg;
    margin-bottom: 16px;
  }
}

.contact {
  max-width: 300px;
  margin-right: 20px;
  @include tablet() {
    max-width: 235px;
  }
  @include mobile-landscape() {
    margin-right: 0;
    max-width: 100%;
    margin-top: 30px;
  }

  &__title {
    @include title-lg;
    margin-bottom: 16px;
  }

  &__list {
    list-style: disc inside;
  }

  &__link {
    color: $text-primary;
    text-decoration: none;
  }
}

.other-info {
  margin-left: auto;
  text-align: right;
  @include mobile-landscape() {
    margin-top: 30px;
  }


  &__title {
    margin-bottom: 22px;
  }

  &__logo {
    background-image: url(/assets/logo.png);
    @include img-replace-text('/assets/logo.svg', 243px, 48px);
    @include mobile-landscape() {
      margin-left: auto;
    }
  }

  &__social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__social-link {
    font-size: 36px;
    margin-left: 12px;
  }
}

.fa-google-plus {
  color: #db4437;
}

.fa-twitter {
  color: #41abe1;
}

.fa-facebook {
  color: #3a5795;
}