.l-container {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto;
  @include tablet() {
    padding: 0 11px;
  }
}

.l-flex-sbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.h-hide {
  display: none;
}

