@mixin img-replace-text($img-path, $width, $height) {
  display: block;
  background-image: url($img-path);
  background-repeat: no-repeat;
  background-position-y: center;
	width: $width;
	height: $height;
	text-indent: 101%;
	overflow: hidden;
  white-space: nowrap;
} 

@mixin title-lg {
  font-size: $text-xl;
  font-weight: $font-medium;
  line-height: 1.4;
}

@mixin title-md {
  font-size: $text-lg;
  font-weight: $font-medium;
  line-height: 1.6;
}

@mixin setBgColorAndHover($baseColor) {
  background-color: $baseColor;
  &:hover {
    background-color: darken($baseColor, 10%);
  }
}