.l-container {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto;
  @include tablet() {
    padding: 0 11px;
  }
}

.l-flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-flex-sbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-flex-sbfs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.l-flex-safs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.l-flex-fsfs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.l-flex-sfs {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.h-hide {
  display: none;
}

.h-icon-fill {
  font-weight: 900;
}

