// 顏色
$bg-color: #efe9e7;
$bg-secondary-color: #f56c23;
$text-primary: #3d1101;
$text-white: #fff;
$text-light: #efe9e7;
$text-secondary: #ff5e45;

// 字體大小
$text-xxl: 36px;
$text-xl: 24px;
$text-lg: 20px;
$text-md: 18px;
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;

// 字體粗細
$font-black: 900;
$font-bold: 700;
$font-medium: 500;
$font-normal: 400;