footer
  .about
    h3 關於 六角西餐廳
    p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
  .contact
    h3 聯絡方式
    ul
      li 高雄市中正五路到底
      li +886 886 886
      li service@hexschool.com
  .other-info
    h2 六角西餐廳
    .social-link
      a <i class="fab fa-google-plus"></i>
      a <i class="fab fa-twitter"></i>
      a <i class="fab fa-facebook"></i>