header
  nav
    .container
      h1
        a 六角西餐廳
      ul
        li
          a 特色
        li
          a 主廚
        li
          a 地圖
        li
          a 選購
        li
          a 登入
        
  .banner
    h2 咬一口就無法忘懷的漢堡
    p 七夕絕對無法錯過的好滋味 
    p <i class="fas fa-utensils"></i>六角大漢堡<i class="fas fa-utensils"></i> 
