/* 餐廳特色區域 */

.feature {
  padding: 82px 0 50px;

  &__title-area {
    max-width: 460px;
    margin: auto;
    border-bottom: 1px solid #979797;
    text-align: center;
    margin-bottom: 60px;
    @include mobile-portrait() {
      border-bottom: none;
    }
  }

  &__content {
    @include mobile-portrait() {
      display: block;
    }
  }

  &__title {
    display: inline-block;
    font-size: $text-lg;
    padding: 0 12px;
    background: $bg-color;
    transform: translateY(50%);
  }
}