footer
  .container.footer-wrapper
    .about
      h3.title 關於 六角西餐廳
      p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
    .contact
      h3.title 聯絡方式
      ul
        li 高雄市中正五路到底
        li +886 886 886
        li service@hexschool.com
    .other-info
      h2.svg-title 
        a(href="#") 六角西餐廳
      ul.social-link
        li: a
          i.fab.fa-google-plus.fa-fw
        li: a
          i.fab.fa-twitter.fa-fw
        li: a
          i.fab.fa-facebook.fa-fw
          