header.header
  nav.nav
    .l-container.l-flex-sbc
      h1.nav__heading
        a.nav__logo(href="index.html") 六角西餐廳
      ul.nav__menu
        li.nav__menu-item
          a.nav__menu-link(href="index.html#feature") 特色
        li.nav__menu-item
          a.nav__menu-link(href="index.html#main-chief") 主廚
        li.nav__menu-item
          a.nav__menu-link(href="index.html#ordering") 地圖
        li.nav__menu-item
          a.nav__menu-link(href="cart.html") 選購
        li.nav__menu-item
          a.nav__menu-link(href="login.html") 登入
      .nav__mobile-menu-bars
        <i class="fas fa-bars"></i>
        <i class="fas fa-times h-hide"></i>
        
  .banner
    .banner__text-area
      h2.banner__title 咬一口就無法忘懷的漢堡
      p.banner__subtitle 七夕絕對無法錯過的好滋味 
      p.banner__subtitle2 <i class="fas fa-utensils"></i> 六角大漢堡 <i class="fas fa-utensils"></i> 
