header
  nav
    .container.flex-wrapper
      h1
        a(href="#") 六角西餐廳
      ul
        li
          a(href="#special") 特色
        li
          a(href="#chief") 主廚
        li
          a(href="#map") 地圖
        li
          a(href="cart.html") 選購
        li
          a(href="login.html") 登入
        
  .banner
    .text
      h2 咬一口就無法忘懷的漢堡
      p 七夕絕對無法錯過的好滋味 
      p <i class="fas fa-utensils"></i> 六角大漢堡 <i class="fas fa-utensils"></i> 
